<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link style="stylesheet" ref="../static/style.css">
    <title>The Impossible Game</title>
</head>
<body>
    <h1>OOPS!</h1>
    <h2>Seems like you lost</h2>

    <a href="/logout">Exit</a>
    <a href="/">Replay</a>
    <a target="_blank" href="https://martinraymondogwel.netlify.app">Creator: Raymond Martin</a>
</body>
</html>